<!-- chat.component.html -->

<script src="assets/sockjs.min.js"></script>
<script src="assets/stomp.min.js"></script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="chat.component.css">
  <title>Chat Application</title>
</head>

<div id="username-page" [hidden]="!isChatHidden">
  <div class="username-page-container">
      <h1 class="title">Type your username to enter the Chatroom</h1>
      <form (ngSubmit)="connect()" id="usernameForm" name="usernameForm" >
          <div class="form-group">
              <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" [(ngModel)]="username" name="username"/>
          </div>
          <div class="form-group">
              <button type="submit" class="accent username-submit">Start Chatting</button>
          </div>
      </form>
  </div>
</div>

<div id="chat-page" [hidden]="isChatHidden">
  <div class="chat-container">
      <div class="chat-header">
          <h2>WolframNS public chat</h2>
      </div>
      <div class="connecting" [hidden]="isConnected">
          {{ connectingInfo }}
      </div>
      <ul id="messageArea">
        
      </ul>
      <form (ngSubmit)="sendMessage()" id="messageForm" name="messageForm">
          <div class="form-group">
              <div class="input-group clearfix">
                  <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control" [(ngModel)]="message" name="message"/>
                  <button type="submit" class="primary">Send</button>
              </div>
          </div>
      </form>
  </div>
</div>
