<head>
    <title>Моя страница</title>
    <link rel="stylesheet" href="layout.component.css">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <h1>WolframNS</h1>
        </div>
        <div class="header-right">
            <div class="btn-container">
                <button class="btn btn-equal-size">About</button>
                <button class="btn btn-equal-size">Chat</button>
                <button class="btn btn-equal-size" (click)="onLogin()">Sign In</button>
            </div>
            
            <div class="language-selector">
                <img src="assets/planet_icon.png" alt="Language Selector" width="20" height="20">
                <select class="selector">
                    <option value="en">English</option>
                    <option value="ru">Русский</option>
                </select>
            </div>
        </div>
    </div>


    <router-outlet></router-outlet>

    <div class="footer">
        <p>WolframNS, 2024</p>
    </div>
</body>