.header {
    background-color: beige;
    padding: 1%;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-right {
    display: inline;
    align-items: center;
    justify-content: flex-end;
}

.header-right > * {
    margin-left: 20px;
}

.language-selector {
    display: flex;
    align-items: center;
}

.language-selector img {
    margin-right: 1%;
}

.selector {
    background-color: orange;
}

.footer {
    background-color: rgba(255, 166, 0, 0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 1px;
    position: fixed;
}

.parent {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    position: relative; 
  }
  
 /* h1 {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    position: absolute; 
    top: -40px; 
    left: 50%; 
    transform: translateX(-50%);
  }*/
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  .btn-container {
    text-align: center;
    margin-top: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1%;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  