<head>
    <title>Моя страница</title>
    <link rel="stylesheet" href="main.component.css">
</head>


<div class="parent">

    <div class="container">
        <h2 class="assistant-text">Your personal math assistant</h2>
        <!--button class="btn" (click)="onReg()">Sign up</button>
        <button class="btn" (click)="onLog()">Sign in</button
        <button class="btn" (click)="getUsers()">Get users</button>-->
        <button class="btn" (click)="onCalc()">Go to calculations</button>
    </div>

    
</div>